<mat-card>
  <mat-card-content fxLayout="row wrap" fxLayout.xs="column">
    <div fxflex><img src="../../assets/emoji.png" alt="album cover" [style.margin]="'10px'"
        [style.max-width]="'10rem'" />
    </div>
    <div fxFlex>
      <div [style.min-width]="'300px'" [style.margin]="'10px'">
        <h2>Jungjoo Kim </h2>
        <div style="width: 50rem;">
          My name is Jay Kim. I am taking computer programming at Seneca College. As describe myself, I am a rookie
          programmer. I
          am just stepping into my first career in Canada. I do not have any
          programmer job experience However various experience from the Hackathon, studying at Seneca college, and doing
          personal
          projects, I learned many great values such as communication skills,
          time management, responsibility, and programming skills. Simply say, I am ready to crush the task.
        </div>
      </div>
    </div>
  </mat-card-content>

  <mat-card-content fxLayout="row wrap" fxLayout.xs="column">

  </mat-card-content>
</mat-card>